<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>

    <nav class="navbar" style="background-color: #3bb19b;">
        <a class="navbar-brand" href="/" style="align-items: center; margin-left: 50%; font-weight: 300000; font-size: 30px; color: white;">Todo App</a>
    </nav>

    <div class="container mt-5" style="background-color: #3bb19b; padding-top: 50px; padding-bottom: 20px;  border-radius: 4px; width: 50%;">
        <form action="/add/todo" method="POST" class="d-flex" style="border-radius: 20px; align-items: center;">
            <input type="text" name="todo" class="form-control" placeholder="Enter Todo" style="border-radius: 20px;">
            <input type="submit" value="Add Todo" class="btn btn-md btn-primary mx-2" style="background-color: #3bb19b; border-color: white;">
        </form>
        <ul class="list-group my-5">
            <% todo.forEach(todos => { %>
                <li class="list-group-item" style="border-radius: 20px; margin-bottom: 10px;">
                    <%= todos.todo %> 
                    <a href="/delete/todo/<%= todos._id %>" class="btn btn-dark">Delete</a>
                </li>
            <% }) %>
        </ul>
        
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>

</body>

</html>










<!-- 
<!DOCTYPE html>
<html lang="en">
<style href="style.css"></style>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title >Todo App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<nav class="navbar " style="background-color: #3bb19b; ">
    <a class="navbar-brand" href="/" style="align-items: center; margin-left: 50%; font-weight: 300000; font-size: 30px; color: white;" >Todo App</a>
</nav>

<div class="container mt-5" style="background-color: #3bb19b; padding-top: 50px; padding-bottom: 20px;  border-radius: 4px; width: 50%;">
    <form action="/add/todo" method="POST" class="d-flex" style="border-radius: 20px; align-items: center;">
        <input type="text" name="todo" class="form-control" placeholder="Enter Todo" style="border-radius: 20px;">
        <input type="submit" value="Add Todo" class="btn btn-md btn-primary mx-2" style="background-color: #3bb19b; border-color: white;">
    </form>


    <ul class="list-group my-5">
        <% todo.forEach(todos => { %>
        <li class="list-group-item" style="border-radius: 20px; margin-bottom: 10px;"><%= todos.todo %> <a href="/delete/todo/<%= todos._id %>"
                class="btn btn-dark">Delete</a></li>

        <% }) %>

    </ul>
</div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous">
</script>

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous">
</script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous">
</script> -->