<%- include("./partials/header")  %>
<nav class="navbar " style="background-color: #3bb19b; ">
    <a class="navbar-brand" href="/" style="align-items: center; margin-left: 50%; font-weight: 300000; font-size: 30px; color: white;" >Todo App</a>
</nav>

<div class="container mt-5" style="background-color: #3bb19b; padding-top: 50px; padding-bottom: 20px;  border-radius: 4px; width: 50%;">
    <form action="/add/todo" method="POST" class="d-flex" style="border-radius: 20px; align-items: center;">
        <input type="text" name="todo" class="form-control" placeholder="Enter Todo" style="border-radius: 20px;">
        <input type="submit" value="Add Todo" class="btn btn-md btn-primary mx-2" style="background-color: #3bb19b; border-color: white;">
    </form>


    <ul class="list-group my-5">
        <% todo.forEach(todos => { %>
        <li class="list-group-item" style="border-radius: 20px; margin-bottom: 10px;"><%= todos.todo %> <a href="/delete/todo/<%= todos._id %>"
                class="btn btn-dark">Delete</a></li>

        <% }) %>

    </ul>
</div>





<%- include("./partials/footer")  %>